.wb__leading {
    display: flex;
    flex-wrap: wrap;
}
.wb__leading .vc_vc_column:nth-child(1) {
    flex: 0 0 43.52574102964119%;
    max-width: 43.52574102964119%;
}
.wb__leading .vc_vc_column:nth-child(2) {
    flex: 0 0 56.47425897035881%;
    max-width: 56.47425897035881%;
}
