.wb__section--form {
    background-size: cover;
}

.wb__section--form .wb__col--form {
    padding: 66px 0 92px calc((100% - 1180px) / 2);
}

.wb__section--form .wb__col--form>.vc_column-inner {
    width: 406px;
    background-color: #fff;
    -webkit-border-radius: 22px;
    border-radius: 22px;
}

.wb__section--form .wb__col--form>.vc_column-inner .wpb_wrapper {
    padding: 33px;
}

.wb__leading--section,
.wb__our--session,
.wb__story--session,
.wb__student--sesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wb__leading--title h2,
.wb__leading--title h3 {
    font-size: 36px;
    line-height: 140%;
    margin: 0;
    text-align: center;
}

.wb__leading--title h2 {
    color: #CC2233;
}

.wb__leading--title h3 {
    color: #32568C;
}

.wb__leading--info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
}

.wb__leading--info p {
    font-size: 22px;
}

.wb__leading--info>.wpb_column:nth-child(1) .vc_figure,
.wb__leading--info>.wpb_column:nth-child(1) .vc_figure .vc_single_image-wrapper,
.wb__leading--info>.wpb_column:nth-child(1) .vc_figure .vc_single_image-wrapper img {
    width: 100%;
}

.wb__our--session {
    color: #fff;
}

.wb__our--session::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(22, 27, 66, 0.95) 51.92%, #FFFFFF 100%);
}


.wb__our--session>.wpb_row:nth-child(1) {
    padding-top: 90px;
    padding-bottom: 13px;
}

.wb__our--session>.wpb_row:nth-child(1) h2 {
    font-size: 36px;
    line-height: 120%;
}

.wb__our--session>.wpb_row:nth-child(1) p {
    font-size: 18px;
}

.wb__our--session>.wpb_row:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 80px;
}

.wb__our--session>.wpb_row:nth-child(2)>.wpb_column.vc_col-sm-12 {
    position: relative;
    flex: 0 0 23.125%;
    max-width: 23.125%;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    overflow: hidden;
}

.wb__our--session>.wpb_row:nth-child(2)>.wpb_column.vc_col-sm-12>.vc_column-inner {
    padding: 0;
}

.wb__our--session>.wpb_row:nth-child(2)>.wpb_column.vc_col-sm-12 .vc_single_image-wrapper {
    position: relative;
}

.wb__our--session>.wpb_row:nth-child(2)>.wpb_column.vc_col-sm-12 .vc_single_image-wrapper::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
}

.wb__our--session>.wpb_row:nth-child(2)>.wpb_column.vc_col-sm-12 .wpb_single_image {
    margin: 0;
}

.wb__our--txt {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
}

.wb__our--txt h3 {
    font-size: 13px;
    margin: 0;
    line-height: 140%;
    margin-bottom: 5px;
}

.wb__our--txt p.wb__our--tag {
    font-size: 13px;
    display: inline-flex;
    border: 1px solid #fff;
    width: 80%;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.wb__story--session>.wpb_row:nth-child(1) {
    padding-top: 40px;
}

.wb__story--session>.wpb_row:nth-child(1) h2 {
    font-size: 36px;
    color: #CC2233;
    line-height: 150%;
}

.wb__story--session>.wpb_row:nth-child(1) p {
    font-size: 22px;
    line-height: 150%;
}

.wb__story--session>.wpb_row:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wb__story--session>.wpb_row:nth-child(2)>.wpb_column .vc_column-inner {
    padding: 0;
}

.wb__story--session>.wpb_row:nth-child(2)>.wpb_column:nth-child(1) {
    position: relative;
    flex: 0 0 40.078125%;
    max-width: 40.078125%;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    overflow: hidden;
}

.wb__story--session>.wpb_row:nth-child(2)>.wpb_column:nth-child(1)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.wb__story--session>.wpb_row:nth-child(2)>.wpb_column:nth-child(1) .wpb_single_image {
    margin: 0;
}

.wb__story--session>.wpb_row:nth-child(2)>.wpb_column:nth-child(1) .wpb_text_column {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    color: #fff;
    text-align: center;
}

.story-money {
    /* font-size: 60px; */
    font-size: 56px;
    margin-bottom: 10px;
}

.story-university {
    font-size: 20px;
    font-weight: 300;
    display: inline-flex;
    padding-bottom: 8px;
}

.story-year {
    font-size: 22px;
    font-weight: 700;
}

.wb__story--session>.wpb_row:nth-child(2) {
    padding-bottom: 64px;
}

.wb__story--session>.wpb_row:nth-child(2)>.wpb_column:nth-child(2),
.wb__story--session>.wpb_row:nth-child(2)>.wpb_column:nth-child(3),
.wb__story--session>.wpb_row:nth-child(2)>.wpb_column:nth-child(4) {
    background-color: #F2F2F2;
    flex: 0 0 calc(18.984375% - 10px);
    max-width: calc(18.984375% - 10px);
    -webkit-border-radius: 24px;
    border-radius: 24px;
    overflow: hidden;
}

.story-unit {
    color: #CC2233;
    /* font-size: 62px; */
    font-size: 58px;
}

.wb__story--session>.wpb_row:nth-child(2)>.wpb_column .vc_column-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.wb__story--session>.wpb_row:nth-child(2)>.wpb_column .vc_column-inner>.wpb_wrapper>div {
    margin: 0;
}

.wb__story--session>.wpb_row:nth-child(2)>.wpb_column:nth-child(2) .wpb_single_image .wpb_wrapper,
.wb__story--session>.wpb_row:nth-child(2)>.wpb_column:nth-child(3) .wpb_single_image .wpb_wrapper,
.wb__story--session>.wpb_row:nth-child(2)>.wpb_column:nth-child(4) .wpb_single_image .wpb_wrapper {
    width: 46px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

.wb__story--session>.wpb_row:nth-child(2)>.wpb_column p,
.wb__story--session>.wpb_row:nth-child(2)>.wpb_column h3 {
    font-size: 16px;
}

.wb__story--session>.wpb_row:nth-child(2)>.wpb_column p {
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 8px;
}

.wb__story--session>.wpb_row:nth-child(2)>.wpb_column h3 {
    margin: 0;
}

.wb__student--sesion {
    background-color: #F2F2F2;
}

.wb__student--sesion>.wpb_row {
    padding: 80px 0;
}

@media only screen and (min-width: 1280px) {

    .wb__leading--section>.wpb_row,
    .wb__our--session>.wpb_row,
    .wb__story--session>.wpb_row,
    .wb__student--sesion .wpb_row {
        width: 1176px;
    }

    .wb__our--session>.wpb_row:nth-child(1) {
        width: 660px;
    }

    .wb__leading--title {
        padding-top: 76px;
    }

    .wb__leading--info>.wpb_column:nth-child(1) {
        flex: 0 0 558px;
        max-width: 558px;
    }

    .wb__leading--info>.wpb_column:nth-child(2) {
        flex: 0 0 calc(100% - 558px);
        max-width: calc(100% - 558px);
    }
}



/*
wpb_column 1: 580
icon: 70
h3 36
p 16
color: #fff

bigimg: bg
background: linear-gradient(180deg, #32568C 0%, #0E1726 100%),
linear-gradient(180deg, rgba(50, 86, 140, 0) 31.85%, #1D1E42 83.85%);


wpb_column 2: 668
h2: 36
color CE0E2D

child:
icon: 32
wpb_column 1, wpb_column 4: bg: 03558F --> color #fff
2, 3 bg: #fff color 03558F

h3: 15
p: 14

*/
